<div class="card-details">
  @if (!isLoading) {
  <div class="header-container">
    <div class="flag-container">
      <img [src]="getNametoFlags(dataCoin.issuer.name)" alt="flag" />
    </div>

    <div class="title-container">
      <h1>{{ dataCoin.title.split("(")[0] }}</h1>
      <span>{{ dataCoin.title.split("(")[1].slice(0, -1) }}</span>
    </div>

    <div class="header-info-container">
      <div>
        <p-tag
          [value]="coin?.conservation ? coin?.conservation : 'ND'"
          [severity]="getConservationColors(coin?.conservation ?? '-')"
        ></p-tag>
      </div>
      <h2>{{ coin?.year }}</h2>

      @if (coin && coin.uds) {
      <p-badge
        [value]="coin.uds"
        [severity]="coin && +coin.uds! <= 0 ? 'danger' : 'success'"
      >
      </p-badge>
      }
    </div>
  </div>

  <div class="body-container">
    <div class="left-container">
      <div class="img-coin-container">
        <div class="img-coin-box">
          <img [src]="dataCoin.obverse.thumbnail" alt="obverse" />
        </div>
        <div class="img-coin-box">
          <img [src]="dataCoin.reverse.thumbnail" alt="reverse" />
        </div>
      </div>

      <div class="img-coin-container">
        <div class="img-coin-box-edge">
          <img [src]="dataCoin.edge.thumbnail" alt="edge" />
        </div>
      </div>

      <div class="obverse-description">
        <span class="span-description">Anverso</span>
        <p class="p-description">{{ dataCoin.obverse.description }}</p>
      </div>

      <div class="reverse-description">
        <span class="span-description">Reverso</span>
        <p class="p-description">{{ dataCoin.reverse.description }}</p>
      </div>

      <a [href]="dataCoin.url">Más información</a>
    </div>

    <div class="right-container">
      <div class="features-container">
        <div class="features-title">
          <p>Características</p>
        </div>

        <div class="features-list">
          <div class="feature-box">
            <div class="feature-label">
              <span>Emisor:</span>
            </div>
            <div class="feature-value">
              <span>{{ dataCoin.issuer.name }}</span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Rey:</span>
            </div>
            <div class="feature-value">
              <span>{{ dataCoin.ruler[0].name }}</span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Tipo:</span>
            </div>
            <div class="feature-value">
              <span>{{ dataCoin.type }}</span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Años:</span>
            </div>
            <div class="feature-value">
              <span>{{ dataCoin.min_year }}-{{ dataCoin.max_year }}</span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Valor:</span>
            </div>
            <div class="feature-value">
              <span
                >{{ dataCoin.value.text }}
                {{ dataCoin.value.numeric_value | euroValue }}
              </span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Unidad monetaria:</span>
            </div>
            <div class="feature-value">
              <span>{{ dataCoin.value.currency.full_name }} </span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Composición:</span>
            </div>
            <div class="feature-value">
              <span>{{ dataCoin.composition.text }} </span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Peso:</span>
            </div>
            <div class="feature-value">
              <span>{{ dataCoin.weight }} g</span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Diámetro:</span>
            </div>
            <div class="feature-value">
              <span>{{ dataCoin.size }} mm</span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Grosor:</span>
            </div>
            <div class="feature-value">
              <span>{{ dataCoin.thickness }} mm</span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Forma:</span>
            </div>
            <div class="feature-value">
              <span>{{ dataCoin.shape }}</span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Técnica:</span>
            </div>
            <div class="feature-value">
              <span>
                {{ dataCoin.technique.text.split(">")[1].split("<")[0] }}
              </span>
            </div>
          </div>

          <div class="feature-box">
            <div class="feature-label">
              <span>Referencias:</span>
            </div>
            <div class="feature-value">
              <span
                >{{ dataCoin.references[0].catalogue.code }}
                {{ dataCoin.references[0].number }}</span
              >
            </div>
          </div>
        </div>
      </div>

      <span class="span-observations">Observaciones:</span>
      <p class="observations">{{ coin?.observations }}</p>
    </div>
  </div>

  <div class="footer-container">
    <div class="buttons-container">
      <p-button
        [raised]="true"
        label="Volver"
        icon="pi pi-arrow-left"
        (click)="goBack()"
      >
      </p-button>

      <p-button
        [raised]="true"
        label="Editar"
        icon="pi pi-pen-to-square"
        severity="warning"
        (click)="showEditModal()"
      >
      </p-button>
    </div>
  </div>
  } @else {
  <div class="spinner-container">
    <p-progressSpinner />
  </div>
  }
</div>

<!-- edit coin dialog -->
<p-dialog
  id="edit-dialog"
  header="Editar moneda"
  [modal]="true"
  [(visible)]="isVisibleEditModal"
>
  <div class="body-container">
    <div class="dropdown-container">
      <p-dropdown
        [options]="conservationStates"
        [(ngModel)]="conservationStateSelected"
        optionLabel="name"
        [showClear]="true"
        appendTo="body"
        placeholder="Seleccione estado de conservación"
        [style]="{ width: '100%' }"
      >
        <ng-template pTemplate="selectedItem">
          @if (conservationStateSelected) {
          <div class="dropdown-options-file-container">
            <div class="tag-container">
              <p-tag
                [value]="conservationStateSelected.name"
                [severity]="
                  getConservationColors(conservationStateSelected.name ?? '-')
                "
              >
              </p-tag>
            </div>
            <span class="truncate">{{
              conservationStateSelected.description
            }}</span>
            <i
              [pTooltip]="conservationStateSelected.text"
              tooltipPosition="bottom"
              class="pi pi-info-circle"
              style="color: dodgerblue"
            ></i>
          </div>
          }
        </ng-template>
        <ng-template let-conservationsState pTemplate="item">
          <div class="dropdown-options-file-container">
            <div class="tag-container">
              <p-tag
                [value]="conservationsState.name"
                [severity]="
                  getConservationColors(conservationsState.name ?? '-')
                "
              >
              </p-tag>
            </div>
            <span>{{ conservationsState.description }}</span>
            <i
              [pTooltip]="conservationsState.text"
              tooltipPosition="bottom"
              appendTo="body"
              class="pi pi-info-circle"
              style="color: dodgerblue"
            ></i>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="input-number-container">
      <p-inputNumber
        [(ngModel)]="unitsSelected"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
        [step]="1"
        [min]="0"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-secondary"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        suffix=" uds"
        [size]="14"
      />
    </div>
    <div class="textarea-container">
      <p-floatLabel>
        <textarea
          id="float-input"
          rows="5"
          cols="30"
          pInputTextarea
          [(ngModel)]="editedObservations"
        >
        </textarea>
        <label for="float-input">Observaciones</label>
      </p-floatLabel>
    </div>
    <div class="buttons-container">
      <p-button
        label="Cancelar"
        severity="danger"
        (click)="isVisibleEditModal = false"
      />
      <p-button label="Guardar" (click)="updateCoin()" />
    </div>
  </div>
</p-dialog>
