<div class="card-table">
  <div class="card-table-header"></div>

  <p-table
    [value]="products"
    styleClass="p-datatable-sm p-datatable-striped"
    [scrollable]="true"
    scrollHeight="85vh"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>País</th>
        <th>Año</th>
        <th>Valor facial</th>
        <th>Ceca</th>
        <th class="truncate">Descripción</th>
        <th class="center">Uds.</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <img src="../../../assets/flags/spain-flag.png" alt="" width="32" />
        </td>
        <td>{{ product.year }}</td>
        <td>{{ product.valor_facial }}</td>
        <td class="truncate-responsive">{{ product.ceca }}</td>
        <td class="truncate">{{ product.descripcion }}</td>
        <td class="center">
          <p-badge
            [value]="product.uds"
            [severity]="product.uds <= 0 ? 'danger' : 'success'"
          ></p-badge>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
