<div class="search-container">
  <p-iconField iconPosition="left">
    <p-inputIcon styleClass="pi pi-search" />
    <input
      type="text"
      pInputText
      [(ngModel)]="searchText"
      placeholder="Buscar moneda..."
      (input)="searchEuros()"
    />
  </p-iconField>
</div>

<div class="card-table">
  @if (!isLoading()) {
  <div class="card-table-header">
    <div class="switch-container">
      <span>Conmemorativas</span>
      <p-inputSwitch
        [(ngModel)]="isFilterByCommemoratives"
        (onChange)="searchEuros()"
      />
    </div>
    <p-dropdown
      [options]="optionsUds"
      [(ngModel)]="optionsUdsSelected"
      [checkmark]="true"
      optionLabel="name"
      [showClear]="true"
      placeholder="Seleccione uds"
      (onChange)="searchEuros()"
    />
  </div>
  <p-table
    [value]="eurosFiltered()"
    styleClass="p-datatable-sm p-datatable-striped"
    [scrollable]="true"
    scrollHeight="80vh"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>País</th>
        <th>Año</th>
        <th>Valor facial</th>
        <th>Ceca</th>
        <th class="truncate">Descripción</th>
        <th class="center">Uds.</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-euros>
      <tr (click)="goToCoinDetails(euros.id)">
        <td>
          <img [src]="getNametoFlags(euros.country)" alt="flag" width="32" />
        </td>
        <td>{{ euros.year }}</td>
        <td>{{ euros.faceValue }}</td>
        <td class="truncate-responsive">{{ euros.mint }}</td>
        <td class="truncate">{{ euros.description }}</td>
        <td class="center">
          <p-badge
            [value]="euros.uds"
            [severity]="euros.uds <= 0 ? 'danger' : 'success'"
          ></p-badge>
        </td>
      </tr>
    </ng-template>
  </p-table>
  } @else {
  <div class="spinner-container">
    <p-progressSpinner />
  </div>
  }
</div>

<p-button (click)="addInfo()">Add info</p-button>
<p-button (click)="deleteAll()">delete</p-button>
